<article>
  <div class="container">
    <% if(posts.length > 0) { %>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% for(let post of posts) { %>
      <div class="col">
        <div class="card text-dark mt-4 mb-4 text-center h-100">
          <img
            class="card-img-top"
            src="http://<%= url %>:3000/uploads/thumbnails/<%= post.thumbnail %>"
            alt="Card image cap"
          />
          <div class="card-body">
            <h2 class="card-title"><%= post.title %></h2>
            <div class="card-text text-justify" dir="rtl">
              <%- truncate(post.body, 300) %>
            </div>
            <div class="d-grid gap-2">
              <a href="/post/<%= post._id %>" class="btn btn btn-primary"
                >More ...</a
              >
            </div>
          </div>
          <div class="card-footer text-muted">
            Posted in Date : <%=formatDate(post.createdAt) %>
          </div>
        </div>
      </div>
      <% } %> <%- include("../includes/pagination.ejs") %>
    </div>
    <% } else {%>
    <div class="row">
      <div class="col">
        <div class="m-5 text-center">
          <h1>there is nothing</h1>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</article>
