<%- include('../includes/header') %> 
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center"><%= name %> Welecome</h1>
    </div>
  </div>
  <div class="row">
    <%- include('../includes/massage') %>
    <div class="col">
      <h1>Last Post</h1>
      <table
        class="table table-dark table-striped table-hover table-bordered border-primary table-sm text-center"
      >
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Body</th>
            <th scope="col">Status</th>
            <th scope="col">Operation</th>
          </tr>
        </thead>
        <tbody>
          <% for (let blog of blogs) { %>
            <tr>
                <td><%= blog.title %></td>
                <td><%= formatDate(blog.createdAt) %></td>
                <td><%= blog.body %></td>
                <td>
                  <span class="badge <%= blog.status === "public" ? 'text-bg-success' : 'text-bg-danger' %>">
                    <%= blog.status %>
                  </span>
                </td>
                <td>
                  <a href="/blog/edit/<%= blog._id %>" class="btn btn-warning">Edit</a>
                  <a href="/blog/delete/<%= blog._id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
    <div class="col text-end">
      <h1>Last Post</h1>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action"
          >A second link item</a
        >
        <a href="#" class="list-group-item list-group-item-action"
          >A third link item</a
        >
        <a href="#" class="list-group-item list-group-item-action"
          >A fourth link item</a
        >
      </div>
    </div>
  </div>
</div>
<%- include('../includes/footer') %>
