<%- include('../includes/header') %> 
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center"><%= name %> Welecome</h1>
    </div>
  </div>
  <div class="row">
    <%- include('../includes/massage') %>
    <div class="col">
      <h1 class="d-inline-block">Last Post</h1>
      <a class="btn btn-success d-inline-block float-end" href="/blog/create">add post</a>
      <table
        class="table table-dark table-striped table-hover table-bordered border-primary table-sm text-center"
      >
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Body</th>
            <th scope="col">Status</th>
            <th scope="col">Operation</th>
          </tr>
        </thead>
        <tbody>
          <% for (let blog of blogs) { %>
            <tr>
                <td><a href="/post/<%= blog._id %>" class="text-decoration-none"><%= blog.title %></a></td>
                <td><%= formatDate(blog.createdAt) %></td>
                <td dir="rtl"><%- truncate(blog.body, 100) %></td>
                <td>
                  <span class="badge <%= blog.status === "public" ? 'text-bg-success' : 'text-bg-danger' %>">
                    <%= blog.status %>
                  </span>
                </td>
                <td>
                  <a href="/blog/edit/<%= blog._id %>" class="btn btn-warning">Edit</a>
                  <a href="/blog/delete/<%= blog._id %>" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <% if (blogs.length) { %>
       <%- include("../includes/pagination.ejs") %>
      <% } %>
    </div>
  </div>
</div>
<%- include('../includes/footer') %>
