<%- include('../includes/header') %>
<article>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mt-4"><%= post.title %></h1>
        <p class="lead">
          Written by :
          <a class="text-decoration-none"><%= post.user.fullName %></a>
        </p>
        <hr />
        <p>Posted in Date : <%=formatDate(post.createdAt) %></p>
        <hr />
        <div class="text-center">
          <img
            class="img-fluid mx-auto d-block mt-3"
            src="http://<%= url %>:3000/uploads/thumbnails/<%= post.thumbnail %>"
            alt=""
          />
        </div>
        <hr />
        <div class="text-justify text-break" dir="rtl"><%- post.body %></div>
      </div>
    </div>
  </div>
</article>
<%- include('../includes/footer') %>
