<%- include('../includes/header') %>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="mt-4"><%= post.title %></h1>
      <p class="lead">
        Written by :
        <a href="#" class="text-decoration-none"><%= post.user.fullname %></a>
      </p>
      <hr />
      <p>Posted in Date : <%=formatDate(post.createdAt) %></p>
      <hr />
      <div class="text-center">
        <img
          class="img-fluid rounded"
          src="http://placehold.it/750x300"
          alt=""
        />
      </div>
      <hr />
      <div class="text-justify" dir="rtl"><%- post.body %></div>
      <hr />
      <div class="card my-4 text-dark">
        <h5 class="card-header">Write your opinion :</h5>
        <div class="card-body">
          <form>
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea"
              ></textarea>
              <label for="floatingTextarea" class="text-muted">Comments</label>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div class="media mb-4">
        <img
          class="d-flex mr-3 rounded-circle"
          src="http://placehold.it/50x50"
          alt=""
        />
        <div class="media-body">
          <h5 class="mt-0">یونس قربانی</h5>
          این یک نظر تست می باشد
        </div>
      </div>

      <!-- Comment with nested comments -->
      <div class="media mb-4">
        <img
          class="d-flex mr-3 rounded-circle"
          src="http://placehold.it/50x50"
          alt=""
        />
        <div class="media-body">
          <h5 class="mt-0">یونس قربانی</h5>
          نظر تست

          <div class="media mt-4">
            <img
              class="d-flex mr-3 rounded-circle"
              src="http://placehold.it/50x50"
              alt=""
            />
            <div class="media-body">
              <h5 class="mt-0">یونس قربانی</h5>
              نظر تست
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/footer') %>
